<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', path='img/leibniz.ico') }}">
    <title>{% block title %}LeibnizCal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="logo">LeibnizCal</a>
            <ul class="nav-links">
                <li><a href="/" class="{% if current_page == 'index' %}active{% endif %}">Inicio</a></li>
                <li><a href="/defined" class="{% if current_page == 'defined' %}active{% endif %}">Definidas</a></li>
                <li><a href="/undefined" class="{% if current_page == 'undefined' %}active{% endif %}">Indefinidas</a></li>
                <li><a href="/history" class="{% if current_page == 'history' %}active{% endif %}">Historial</a></li>
            </ul>
        </div>
    </nav>


    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    {% block script %}{% endblock %}
</body>
<footer class="footer">
    <div class="footer-container">
        <p>&copy; 2025 LeibnizCal. Desarrollado con admiración.</p>
        <p>Inspirado en el legado de Gottfried Wilhelm Leibniz.</p>
    </div>
</footer>
</html>
