{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/defined.css')}}">
{% endblock %}

{% block content %}
<h1 class="defined-title">Calculadora de Integrales Definidas</h1>
<section class="defined">
    <form method="post" action="/defined/calculate" id="integral-form" class="defined-form">
        <label for="expression" class="defined-label__expr">Expresión:</label>
        <input type="text" id="expression" name="expression" class="defined-input__expr" required>

        <label for="variable" class="defined-label__var">Variable de integración:</label>
        <input type="text" id="variable" name="variable" value="x" class="defined-input__var" required>

        <label for="lower" class="defined-label__lower">Límite inferior:</label>
        <input type="text" id="lower" name="lower" class="defined-input__lower" required>

        <label for="upper" class="defined-label__upper">Límite superior:</label>
        <input type="text" id="upper" name="upper" class="defined-input__upper" required>

        <button type="submit" class="defined-button__submit">Calcular Integral</button>
    </form>

    <div class="defined__output">
        <h3 class="defined-h3__expr">Expresión:</h3>
        <div id="render-expression" class="defined-div__expr">$$\int_{a}^{b} \_ dx$$</div>

        <h3 class="defined-h3__result">Resultado:</h3>
        <div id="render-result" class="defined-div__expr">
            {% if result %}
                $$ {{ result }} $$
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/js/toLatex.js"></script>
<script src="/static/js/defined.js"></script>

<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
