{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/history.css') }}">
{% endblock %}

{% block content %}
<h1 class="history-title">Historial de Integrales</h1>

<section class="history-section">
    {% if histories %}
        <table class="history-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Expresión</th>
                    <th>Variable</th>
                    <th>Límite inferior</th>
                    <th>Límite superior</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for item in histories %}
                <tr id="row-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    <td>$$\int {{ item.expression }} \, d{{ item.variable }}$$</td>
                    <td>$${{ item.variable }}$$</td>
                    <td>$${{ item.lower_limit or "-" }}$$</td>
                    <td>$${{ item.upper_limit or "-" }}$$</td>
                    <td>$$ {{ item.result }} $$</td>
                    <td>
                        <button class="delete-btn" data-id="{{ item.id }}">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="history-empty">
            <div class="history-div__pensando">
                <img src="{{ url_for('static', path='img/pensando.png' ) }}" alt="¿Ya usaste la calculadora?" class="historial-img__pensando">
            </div>
            <p class="history-p__empty">No hay integrales registradas aún.</p>
        </div>
    {% endif %}
</section>
{% endblock %}

{% block script %}
<!-- MathJax -->
 <script src="{{ url_for('static', path='js/history.js') }}"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
