{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/undefined.css' ) }}">
{% endblock %}

{% block content %}
<h1 class="undefined-title">Calculadora de Integrales Indefinidas</h1>
<section class="undefined">
    <form method="post" action="/undefined/calculate" id="integral-form" class="undefined-form">
        <label for="expression" class="undefined-label__expr">Expresión:</label>
        <input type="text" id="expression" name="expression" 
        class="undefined-input__expr" required value="{{ expression | default('x')}}">

        <label for="variable" class="undefined-label__var">Variable de integración:</label>
        <input type="text" id="variable" name="variable" value="{{ variable | default('x') }}" 
        class="undefined-input__var" required>

        <button type="submit" class="undefined-button__submit">Calcular Integral</button>
    </form>
    <div class="undefined__output">
        <h3 class="undefined-h3__expr">Expresión:</h3>
        <div id="render-expression" class="undefined-div__expr">
            {% if exprLatex and varLatex%}
                $$\int {{ exprLatex }}\, d {{ varLatex }}$$
            {% else %}
                $$\int f(x) \, dx$$
            {% endif %}
        </div>

        <h3 class="undefined-h3__result">Resultado:</h3>
        <div 
            id="render-result" 
            class="undefined-div__expr"
            data-expression = "{{exprLatex }}"
            data-variable = "{{ varLatex }}"
            data-lower = "N/A"
            data-upper = "N/A"
            data-result = "{{ result }}"
        >
            {% if result %}
                $$ {{ result }} $$
                
            {% endif %}
        </div>
        <button id="save-result" type="submit" class="undefined-button__save">Guardar Respuesta</button>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/js/toLatex.js"></script>
<script src="/static/js/undefined.js"></script>

<!-- MathJax -->
<!--<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>-->
<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock %}
